{% extends "Base_Login.html" %}

{% block content %}
    <form action="" method="post" novalidate>
    <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
    {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
        < class="alert alert-danger" role="alert">
            {{ error }}
        </p>>
        {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(class="form-control", type="password") }}
            {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.user_type() }}</p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>

{% endblock %}